<div class="col-md-12 panel panel-default">

  <h3 align="center"><b>External Id &nbsp;&nbsp; <%= @batch_id %></b></h3>

  <br>  <br>

  <table border="0"  align="center" class="table table-bordered">
    <thead class="panel-heading">
    <tr>
      <th>Record Id</th>
      <th>Ejecucion</th>
      <th>Status</th>
      <th>Tipo transaccion</th>
      <th>Source Id</th>
      <th>Target Id</th>
      <th>Payload</th>
    </tr>
    </thead>

    <tbody class="panel-body">
    <% @transaccions.each do |transaccion| %>
        <tr>
          <td><%= transaccion.record_id %></td>
          <td><%= transaccion.ejecucion %></td>
          <td><%= transaccion.status %></td>
          <td><%= transaccion.tipo_transaccion %></td>
          <td><%= transaccion.source_id %></td>
          <td><%= transaccion.target_id %></td>
          <td><a href="#" onclick="detalle_payload(<%= transaccion.id %>)"  class="detalle_payload btn btn-info" style="background-color: #1d89cf; border-color: #1d89cf;">Ver</a> </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
