<div class="col-md-12 panel panel-default">

  <h3 align="center"><b>Transacciones Por Enviar</b></h3><br>

</div>

<div class="col-md-12 panel panel-default">

  <%= form_tag( transaccions_pendientes_path(0), method: "get", id:"search-form" ) do  %>
      <h5>Cantidad de Registros consultados&nbsp;&nbsp;<%= text_field_tag "cantidad", @cantidad, :size => 10, :maxlenght => 4, :placeholder => "Cantidad", :required => "required" %>&nbsp;&nbsp;(Máximo 1000 por consulta)</h5>

      <div class="panel panel-default">

        <div id="bt_plus_filter" class="panel-heading">
          <h5>Filtros de Búsqueda &nbsp;&nbsp;
            <!-- <span class="menu-icon  fa fa-plus" aria-hidden="true" id=""></span> -->
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          </h5>
        </div>

        <div id="filtros" style="display:none;" class="panel-footer" align="center">

          <%= text_field_tag :external_id, params[:external_id], class: "", placeholder: "Identificador Externo", :size => 50 %>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <%= text_field_tag :status, params[:status], class: "", placeholder: "Estatus", :size => 50 %>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <%= text_field_tag :tipo_transaccion, params[:tipo_transaccion], class: "", placeholder: "Tipo Transaccion", :size => 50 %>

          <%= hidden_field_tag :sort_order, @default_order %>
          <%= hidden_field_tag :sort_column %>
          <br>
        </div>
      </div>
      <button class="btn btn-default btn-lg btn-block" id="btn_search">Buscar</button><br>
      <%#= f.submit "Buscar", class: " btn btn-default btn-lg btn-block" %>
      <!--  <a href="/facturas" class="btn btn-default">Reset</a> -->
  <% end %>
</div>


<div class="col-md-12 panel panel-default">

  <h3 align="center"><b>Resultados</b></h3>

  <br>

  <table border="0"  align="center" class="table table-bordered">
    <thead class="panel-heading">
    <tr>
      <th width="25%"><a href="external_id" class="sort">External Id <img src="/assets/<% if @default_order == 'desc'%>up.gif<% else %>down.gif<% end %>" /></a></th>
      <th width="15%"><a href="status" class="sort">Status <img src="/assets/<% if @default_order == 'desc'%>up.gif<% else %>down.gif<% end %>" /></a></th>
      <th width="15%"><a href="tipo_transaccion" class="sort">Tipo transaccion <img src="/assets/<% if @default_order == 'desc'%>up.gif<% else %>down.gif<% end %>" /></a></th>
      <th width="15%"><a href="source_id" class="sort">IMMS<img src="/assets/<% if @default_order == 'desc'%>up.gif<% else %>down.gif<% end %>" /></a></th>
      <th width="15%"><a href="target_id" class="sort">IPC <img src="/assets/<% if @default_order == 'desc'%>up.gif<% else %>down.gif<% end %>" /></a></th>
      <th width="15%">Detalle</th>
    </tr>
    </thead>

    <tbody class="panel-body">
    <% @transaccions.each do |transaccion| %>
        <tr>
          <td><%= transaccion.external_id %></td>
          <td><%= transaccion.status %></td>
          <td><%= transaccion.tipo_transaccion %></td>
          <td><%= transaccion.source_id %></td>
          <td><%= transaccion.target_id %></td>
          <td><a href="<%= transaccion.external_id %>" class="detalle_externo btn btn-info" style="background-color: #1d89cf; border-color: #1d89cf;">Ver</a> </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<br>

<div style="text-align: right;">
  <%= label_tag :total %>&nbsp;&nbsp;<%= label_tag @count, nil, class: "total_transaccion" %>
  <%= paginate @transaccions, :total_pages => @total_pages %>
</div>

<!-- modal de detalle -->
<div id="modal-detalle-pendiente" data-focus-on="input:first" class="modal fade" style="display: none;" role="dialog" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog" style="z-index:1500; width: 750px;">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" aria-hidden="true" data-dismiss="modal" type="button">×</button>
        <h4 class="modal-title">Detalle Transacci&oacute;n</h4>
      </div>
      <div class="modal-body pendiente">

      </div>
    </div>
  </div>
</div>

<!-- modal de payload -->
<div id="modal-detalle-payload" data-focus-on="input:first" class="modal fade" style="display: none;" role="dialog" tabindex="-1" aria-hidden="false">
  <div class="modal-dialog" style="z-index:3000; width: 750px;">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" aria-hidden="false" data-dismiss="modal" type="button">×</button>
        <h4 class="modal-title">Payload Transacci&oacute;n</h4>
      </div>
      <div class="modal-body payload">

      </div>
    </div>
  </div>
</div>
